<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Perfil', css: 'myart.css', labs:""}) %>

<body>
    <div class="hero">
        <%- include('partials/header') %>
    </div>


 <div id="test2" class="col s12">
     <a href="" class="btn-flat right boton-cerrar">
         <i class="material-icons">close</i>
     </a>
     <form enctype="multipart/form-data" method="POST" action="/users/profile/myart" class="col s12">
         <div class="row">
             <div class="input-field col s12 m6">
                 <input id="first_name" type="text" class="validate" name="name"
                 <% if (typeof old != "undefined") { %> value="<%= old.name %>" <% } %> >
                 <label for="first_name">Titulo de la obra</label>
                 <% if(typeof errors != "undefined"){ %>
                 <% if(typeof errors.name != "undefined"){ %>
                 <span class="helper-text"><%= errors.name.msg  %> </span>
                 <% } %>
                 <% } %>
             </div>
             <div class="col s12 m6 file-field input-field">
                 <div class="btn">
                     <span>File</span>
                     <input type="file" name="imageFile" >
                 </div>
                 <div class="file-path-wrapper">
                     <input class="file-path validate" type="text" placeholder="Upload one or more files">
                     <% if(typeof errors != "undefined"){ %>
                        <% if(typeof errors.imageFile != "undefined"){ %>
                        <span class="helper-text"><%= errors.imageFile.msg  %> </span>
                        <% } %>
                        <% } %>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="input-field col s12">
                 <textarea id="descripcion" class="materialize-textarea" name="description"></textarea>
                 <label for="descripcion">descripcion</label>
             </div>
         </div>
         <div class="row">
             <div class="input-field col s12 m4">
                 <input id="price" type="number" class="validate" name="price" <% if (typeof old != "undefined") { %>
                     value="<%= old.price %>" <% } %>>
                 <label for="price">Precio</label>
                 <% if(typeof errors != "undefined"){ %>
                 <% if(typeof errors.price != "undefined"){ %>
                 <span class="helper-text"><%= errors.price.msg  %> </span>
                 <% } %>
                 <% } %>
             </div>
             <div class="input-field col s12 m4">
                 <input id="quantity" type="number" class="validate" name="quantity" value="1">
                 <label for="quantity">cantidad</label>
                 <% if(typeof errors != "undefined"){ %>
                 <% if(typeof errors.price != "undefined"){ %>
                 <span class="helper-text"><%= errors.price.msg  %> </span>
                 <% } %>
                 <% } %>
             </div>
             <div class="col s12 m4 tamaño-cuadro">
                 <div class="col s6 input-field ancho">
                     <input id="ancho" type="number" class="validate" name="ancho"
                      <% if (typeof old != "undefined") { %> value="<%= old.ancho %>" <% } %>>
                     <label for="ancho">ancho</label>
                     <% if(typeof errors != "undefined"){ %>
                     <% if(typeof errors.ancho != "undefined"){ %>
                     <span class="helper-text"><%= errors.ancho.msg  %> </span>
                     <% } %>
                     <% } %>
                 </div>
                 <div class="col s6 input-field alto">
                     <input id="alto" type="number" class="validate" name="alto" 
                     <% if (typeof old != "undefined") { %> value="<%= old.alto %>" <% } %>>
                     <label for="alto">alto</label>
                     <% if(typeof errors != "undefined"){ %>
                     <% if(typeof errors.alto != "undefined"){ %>
                     <span class="helper-text"><%= errors.alto.msg  %> </span>
                     <% } %>
                     <% } %>
                 </div>
             </div>
         </div>
         <!--<div class="row">
             <div class="input-field col s12">
                 <textarea id="keywords" class="materialize-textarea"></textarea>
                 <label for="keywords">keywords</label>
             </div>
         </div>-->
         <div class="row">
             <div class="input-field col s12 m6">
                 <select name="status" >
                     <option selected value="0">Disponible</option>
                     <option value="1">Vendido</option>
                     <option value="2">Oculto</option>
                 </select>
                 <label>Estado: </label>
             </div>
             <div class="col s6 right-align">
                 <button type="submit" class="btn waves-effect waves-light btn-medium boton-crearpublicacion">
                     Crear publicación
                 </button>
             </div>
             
         </div>
     </form>
 </div>

<main class="todo container">
    
    <h6>
        <a class="linkprofile" href="/users/profile"><i class="material-icons">navigate_before</i>Volver a mi perfil</a>
    </h6>
    

    <table class="highlight">
        <thead>
            <tr>
                <th> 
                    <a class="btn-floating btn-medium waves-effect waves-light orange crear-nuevo">
                        <i class="material-icons">add</i>
                    </a>
                </th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Tamaño</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>
            <% for(let product of user.products) { %>
                <tr>
                    <td>
                        <div class="card imagen-producto" style="background-image:url(/images/products/<%= product.imageFile %>)">
                        </div>
                    </td>
                    <td><%= product.name %> </td>
                    <td class="truncated">
                            <%= product.description %> 
                    </td>
                    <td><%=product.ancho %>x<%=product.alto %>  cm</td>
                    <td><%= product.quantity %> </td>
                    <td>$<%= product.price %> </td>
                    <td> <%= product.status == 0? "Disponible" : product.status == 1? "Vendido" : "Oculto" %> </td>
                    <td class="botones-funciones">
                        <a href="/users/profile/myart/<%= product.id %>" class="btn-flat">
                            <i class="material-icons">brush</i>
                        </a>
                    </td>
                    <td class="botones-funciones">
                        <form action="/users/profile/myart?_method=DELETE" method="POST">
                            <input type="hidden" name="productId" value="<%= product.id %> ">
                            <button class="btn-flat waves-effect waves-light" type="submit" name="action">
                                <i class="material-icons">delete</i>
                            </button>
                        </form>
                    </td>
                </tr>
            <% } %>

        </tbody>
    </table>


   
    </div>



</main>

    <%- include('partials/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/header-function.js"></script>
    <script src="/js/myart-function.js"></script>
    <script src="/js/select.js"></script>

</body>

</html>