<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Arte Libre', css: 'product.css', labs:""}) %>
<body>
    
      <div class="hero">
          <%- include('partials/header') %>
      </div>
    
    
    <main style="background: rgba(0, 0, 0, .65) url('/images/products/<%= obra.imageFile %>'); background-blend-mode: darken; background-size: cover; background-position: center;">

        

        <div class="card-panel row container">
            <h6 class="left-align white-text link-galeria">
                <a class="link-gallery white-text" href="/gallery"><i class="material-icons">navigate_before</i>
                    Volver a la Galeria
                </a>
            </h6>
            <div class="col s12 m6 caja-izquierda">
                    <img class="responsive-img materialboxed" width="450"
                        src="../images/products/<%= obra.imageFile %> "
                        alt="">
            </div>
            <div class="col s12 m6 caja-derecha">
                <div class="row valign-wrapper">
                    <div class="col s2 circle responsive-img imagen-avatar"
                        style="background-image:url('/images/users/<%= obra.user.avatar %>')">
                    </div>
                    <div class="col s10">
                        <a class="teal-text" href="/gallery/<%= obra.user.id %>">
                            <%= obra.user.username %>
                        </a>
                    </div>
                </div>
                <h4 class="teal-text"><%= obra.name %></h4>
        
                <p class="txt-tamaño teal-text"><%= obra.ancho%>x<%= obra.alto %> cm</p>
                <div class="divider"></div>
                <div class="section">
                    <p class="teal-text"><%= obra.description %></p>
                </div>
                <div class="divider"></div>
                <% if (obra.status == 0) { %>
                    <div class="row caja-precio-carrito section center-align">
                        <h5 class="teal-text"> $ <%= obra.price %></h5>
                            <% if (! enCarrito) { %>
                                <form action="/cart" method="POST">
                                    <input type="hidden" name="productId" value=<%= obra.id %> >
                                    <button class="btn waves-effect waves-light boton-carrito" type="submit" name="action">Agregar
                                        <i class="material-icons right">local_mall</i>
                                    </button>
                                </form>            
                            <% } else { %>
                                <a class="waves-effect waves-light btn small">En carrito</a>
                            <% } %>
                    </div>
                    <% }else{ %>
                        <div class="section">
                            <p class="center-align teal-text ">Vendido
                                <i class="material-icons tiny">local_offer</i>
                            </p>
                        </div>
                <% } %>
            </div>
        
        </div>
                
            <!--<div class="caja-precio">

                <div class="precio-carrito">
                    <h2 class="precio">$1200</h2>
                    <button class="btn-agregarCarrito"><i class="fas fa-shopping-cart"></i></button>
                </div>

                <div class="cartel-pop-up">
                    <div class="pop-up-fondo">
                        <p class="texto-pop-up">¡La pieza se ha agregado a tu carrito!</p>
                    </div>
                </div>

            </div>

            <div class="caja-descripcion">
                <div class="caja-descripcion-titulo">
                    <h4 class="descripcion-titulo">Descripción</h4>
                </div>

                <div class="caja-texto-descriptivo">
                    <p class="texto-descriptivo">Es una serie de mis últimas obras en las cuales estuve trabajando tanto el trazo para los cuadros como el encuadre en las fotografías. </p>
                </div>
            </div> 

                <div class="caja-datosUsuario">

                    <div class="datosUsuario-titulo">
                        <h3 class="datosUsuario">Datos del Usuario</h3>
                    </div>

                    <div class="caja-texto-users">
                        <p class="texto-user1">Método de envío: </p>
                        <p class="texto-user2">Método de pago</p>
                        <p class="texto-user3">Local: </p>
                    </div>
                </div>-->
                
        <section class="contenedor-precio-descrip-user">
        
            <div class="row container">
                <div class="col s4 center-align">
                    <!-- Promo Content 1 goes here -->
                    <i class="material-icons large teal-text">local_shipping</i>
                    <h5 class="teal-text">Metodos de envio</h5>
                    <% if (obra.user.mailShipping == 1){ %>
                    <li class="black-text"> por correo </li>
                    <% } %>
        
                    <% if (obra.user.privateShipping == 1){ %>
                    <li class="black-text"> por mensajeria privada </li>
                    <% } %>
        
                    <% if (obra.user.noShipping == 1){ %>
                    <li class="black-text"> retiro en domicilio del artista </li>
                    <% } %>
        
                </div>
                <div class="col s4 center-align">
                    <!-- Promo Content 2 goes here -->
                    <i class="material-icons large teal-text">thumbs_up_down</i>
                    <h5 class="teal-text"><%= obra.user.name  %> </h5>
                    <p class="black-text">Ventas: <%= obra.user.averageScore %></p>
                    
        
                </div>
                <div class="col s4 center-align">
                    <!-- Promo Content 3 goes here -->
                      <i class="material-icons large teal-text">person_pin_circle</i>
                      <h5 class="teal-text">Ubicacion</h5>
                        <% if (obra.user.adresses.length > 0) { %>
                       
                            <p class="black-text"> <%=obra.user.adresses[0].city%>, <%=obra.user.adresses[0].province %>  </p>
                        <% } else {  %>
                            <p class="black-text"> Sin datos  </p>
                        <% }  %>
                </div>
            </div>
            <!-- 
            <div class="row s12 center-align section">
                <a class="waves-effect waves-light btn-small btn-masCosasArtista"
                    href="/gallery/EJS obra.user.id EJS">Ver más del mismo artista</a>
            </div> -->
        
        </section>
       



    </main>
    <!-- =========================================================================== -->
    <!---------------------------------- COMENTARIOS ---------------------------------->
    <!-- =========================================================================== -->

    <section class="contenedor-comentarios">

        <ul class="card collection with-header comentarios transparent">
            <li class="collection-header">
                <h4>Comentarios</h4>
            </li>
            <% for (let post of comentarios) { %>
            <li class="collection-item comentario-item">
                <%= post.comentario%>
                <% if (post.respuesta) { %>
                <blockquote><%= post.respuesta  %> </blockquote>
                <% } else if(locals.user.id == obra.user.id){ %>
                    <form class="row s12 white crear-comentario" action="/product/responder" method="POST" >
                        <div class="col s11 input-field">
                            <input type="hidden" name="obraId" value="<%= obra.id %>" >
                            <input type="hidden" name="comentarioId" value="<%= post.id %>" >
                            <textarea id="textarea1" class="materialize-textarea" name="respuesta" ></textarea>
                            <label for="textarea1">Responder</label>
                        </div>
                        <button class="col s1 btn waves-effect waves-light" type="submit" style="background-color: #FFAF47;">
                            <i class="material-icons center-align">send</i>
                        </button>
                    </form>
                <% } %>
            </li>
            <% } %>
            <!-- <li class="collection-item comentario-item">
                Gran artista! Muy contenta con el cuadro que le compre. Era lo que esperaba.
                <blockquote>Gracias! Lo deje en buenas manos. Se que lo vas apreciar mucho.</blockquote>
            </li>
            <li class="collection-item comentario-item">Me encanta su estilo.</li> -->
        </ul>
        <!--
            <div class="caja-comentarios">
                <p class="comentarioX">¡Gran artista!</p>
                <p class="comentarioX">Qué agradable sujeto</p>
                <p class="comentarioX">Me encanta su estilo.</p>
            </div>
            -->

        <form class="row s12 white crear-comentario" action="/product/comentar" method="POST" >
            <div class="col s11 input-field">
                <input type="hidden" name="obraId" value="<%= obra.id %>" >
                <input type="hidden" name="sellerId" value="<%= obra.user.id %>" >
                <textarea id="textarea1" class="materialize-textarea" name="comentario" ></textarea>
                <label for="textarea1">Comentario</label>
            </div>
            <button class="col s1 btn waves-effect waves-light" type="submit">
                <i class="material-icons center-align">send</i>
            </button>
        </form>
        <!--
            <form class="formulario-comentario" action="">
                
                <textarea class="dejarComentario" placeholder="Escribí tu comentario aquí" name="comentario" id=""  rows="5" maxlength="30" ></textarea>
                
                <input class="enviarComentario" type="submit" value="Enviar">
            
            </form>
            -->

    </section>

    <!-- =========================================================================== -->
    <!---------------------------------- SUGERENCIAS ---------------------------------->
    <!-- =========================================================================== -->

    <% if (masObras.length > 0) { %>
        <section class="contenedor-sugerencias">
    
            <div class="caja-titulo-sugerencias">
                <h4 class="titulo-sugerencias">Sugerencias</h4>
            </div>
    
            <div class="slider">
                <ul class="slides">
                    <% masObras.forEach((obra,index) => { %>
                        <li>
                            <a href="/product/<%= obra.id %>">
                            
                                <img src="../images/products/<%= obra.imageFile %>">
                                <div class="caption <%= index==0?'center-align' : index == 1? 'left-align': index ==2? 'right-align':'center-align'  %>">
                                    <h3 style="color: whitesmoke;"> <%= obra.name %>  </h3>
                                </div>
                            </a>
                        </li>
                    <% }) %>

                </ul>
            </div>
    
        </section>
     
    <% } %>


<%- include('partials/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/header-function.js"></script>
    <script src="/js/carrousel.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/product-image.js"></script>
    </body>
</html>