<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Obra X', css: 'product.css'}) %>
<body>
    
      <div class="hero">
          <%- include('partials/header') %>
      </div>
    
    
    <main>

<!-- =========================================================================== -->
<!------------------------- SLIDER --------------------------------------------->
<!-- =========================================================================== 
  (JUAN: lo apago por el momento porque por ahora vamos a usar una sola imagen por publiacion)

    <div class="caja-slider">

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="carousel">
                        <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/cuadro1.jpg"></a>
                        <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/cuadro4.jpg"></a>
                        <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/foto1.jpg"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
                                                                                -->
<!-- =========================================================================== -->
<!------------------- PRECIO + DESCRIPCION + DATOS DEL USUARIO -------------------->
<!-- =========================================================================== -->

<div class="row container">
    <div class="col s12 m6 caja-izquierda">
            <img class="responsive-img materialboxed" width="450"
                src="../images/products/<%= obra.imageFile %> "
                alt="">
    </div>
    <div class="col s12 m6 caja-derecha">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="/images/icons/usuario.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="white-text">
                    <%= obra.user.username %>
                </span>
            </div>
        </div>
        <h4 class="white-text"><%= obra.name %></h4>

        <p class="txt-tamaño white-text"><%= obra.ancho%>x<%= obra.alto %> cm</p>
        <div class="divider"></div>
        <div class="section">
            <p class="white-text"><%= obra.description %></p>
        </div>
        <div class="divider"></div>
        <div class="row caja-precio-carrito section center-align">
            <h5 class="white-text"> $ <%= obra.price %></h5>
             <button class="btn waves-effect waves-light boton-carrito" type="submit" name="action">Agregar
                 <i class="material-icons right">local_mall</i>
             </button>
        </div>
    </div>

</div>
        
            <!--<div class="caja-precio">

                <div class="precio-carrito">
                    <h2 class="precio">$1200</h2>
                    <button class="btn-agregarCarrito"><i class="fas fa-shopping-cart"></i></button>
                </div>

                <div class="cartel-pop-up">
                    <div class="pop-up-fondo">
                        <p class="texto-pop-up">¡La pieza se ha agregado a tu carrito!</p>
                    </div>
                </div>

            </div>

            <div class="caja-descripcion">
                <div class="caja-descripcion-titulo">
                    <h4 class="descripcion-titulo">Descripción</h4>
                </div>

                <div class="caja-texto-descriptivo">
                    <p class="texto-descriptivo">Es una serie de mis últimas obras en las cuales estuve trabajando tanto el trazo para los cuadros como el encuadre en las fotografías. </p>
                </div>
            </div> 

                <div class="caja-datosUsuario">

                    <div class="datosUsuario-titulo">
                        <h3 class="datosUsuario">Datos del Usuario</h3>
                    </div>

                    <div class="caja-texto-users">
                        <p class="texto-user1">Método de envío: </p>
                        <p class="texto-user2">Método de pago</p>
                        <p class="texto-user3">Local: </p>
                    </div>
                </div>-->

        <section class="contenedor-precio-descrip-user">
                <div class="row container">

                    <div class="row center-align">
                        <h5 class="white-text">Datos del artista</h5>
                            <h6 class="white-text">Valoracion: <%= obra.user.averageScore %> </h6>
                            <h6 class="white-text">Cantidad de ventas: <%= obra.user.averageScore %> </h6>
                    </div>

                    <div class="divider"></div>

                    <div class="col s4 center-align">
                        <!-- Promo Content 1 goes here -->
                        <h6 class="white-text">Método de envío</h6>
                    </div>
                    <div class="col s4 center-align">
                        <!-- Promo Content 2 goes here -->
                        <h6 class="white-text">Medios de pago</h6>
                    </div>
                    <div class="col s4 center-align">
                        <!-- Promo Content 3 goes here -->
                        <h6 class="white-text">Local/Ubicacion</h6>

                    </div>

                </div>

                <div class="row s12 center-align section">
                    <a class="waves-effect waves-light btn-small btn-masCosasArtista"
                        href="/gallery/<%= obra.user.id %>">Ver más del mismo artista</a>
                </div>
                

        </section>

<!-- =========================================================================== -->
<!---------------------------------- COMENTARIOS ---------------------------------->
<!-- =========================================================================== 

        <section class="contenedor-comentarios">

            <div class="caja-comentarios-titulo">
                <h4 class="titulo-comentarios">Comentarios</h4>
            </div>

            <div class="caja-comentarios">
                <p class="comentarioX">¡Gran artista!</p>
                <p class="comentarioX">Qué agradable sujeto</p>
                <p class="comentarioX">Me encanta su estilo.</p>
            </div>

            <form class="formulario-comentario" action="">
                
                <textarea class="dejarComentario" placeholder="Escribí tu comentario aquí" name="comentario" id=""  rows="5" maxlength="30" ></textarea>
                
                <input class="enviarComentario" type="submit" value="Enviar">
            
            </form>

        </section>
                                                                                   -->

<!-- =========================================================================== -->
<!---------------------------------- SUGERENCIAS ---------------------------------->
<!-- =========================================================================== -->

        <section class="contenedor-sugerencias">

            <div class="caja-titulo-sugerencias">
                <h4 class="titulo-sugerencias">Sugerencias</h4>
            </div>

            <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="../images/bg/arte1.jpg"> <!-- random image -->
                    <div class="caption center-align">
                      <h3>Titulo de la Obra</h3>
                      <h5 class="light red-text text-lighten-3">VENDIDO</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../images/bg/arte2.jpg"> <!-- random image -->
                    <div class="caption left-align">
                      <h3>Titulo de la Obra</h3>
                      <h5 class="light red-text text-lighten-3">VENDIDO</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../images/bg/arte3.jpg"> <!-- random image -->
                    <div class="caption right-align">
                      <h3>Titulo de la Obra</h3>
                      <h5 class="light red-text text-lighten-3">VENDIDO</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../images/bg/arte4.jpg"> <!-- random image -->
                    <div class="caption center-align">
                      <h3>Titulo de la Obra</h3>
                      <h5 class="light red-text text-lighten-3">VENDIDO</h5>
                    </div>
                  </li>
                </ul>
              </div>

        </section>

    </main>


<%- include('partials/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/header-function.js"></script>
    <script src="/js/carrousel.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/product-image.js"></script>
    </body>
</html>